body {
  background-color: rgb(255, 253, 142);
}
.header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
}
.title__img {
  height: 50px;
  width: 50px;
}
.main {
  height: 250px;
}
.footer__container {
  display: flex;
  justify-content: center;
  height: 10px;
}

.pokemon__img {
  width: 150px;
  height: 150px;
}
